#regAccButton, #signAccButton, #acceptFilters, #cancelFilters {
    -fx-background-color: #54a4ff;
}
#filterVBox {
    -fx-background-color: #e0e0e0;
}
* {
    -fx-font-family: "ofont.ru_Spectral";
    -fx-font-weight: bold;
}